<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
         http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd
         http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd
         http://www.springframework.org/schema/tx https://www.springframework.org/schema/tx/spring-tx.xsd">

    <!--    Без этого не будет работать аннотация @PostConstruct и многие другие-->
    <context:annotation-config></context:annotation-config>

    <bean class="com.example.spring_practice.TerminatorQuoter" id="terminatorQuoter">
        <property name="message" value="I'll be back."/>
    </bean>

    <bean class="com.example.spring_practice.ProfilingHandlerBeanPostProcessor"></bean>
    <bean class="com.example.spring_practice.InjectRandomIntAnnotationBeanPostProcessor"></bean>
    <bean class="com.example.spring_practice.PostProxyInvokerContextListener"></bean>
    <bean class="com.example.spring_practice.DeprecationHandlearBeanFactoryPostProcessor"></bean>

</beans>